<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/urls">tinyApp</a>
    <div style="display: inline-block">
    <% if (userList[user]) { %>
    <form class="form-inline"action="/logout" method="POST">
      <label style="margin-right: 12px"><b><%= userList[user].email %></b></label>
      <input class="btn btn-info" type="submit" value="Logout">
    </form>
    <% } else { %>
      <a href="/login"><button class="btn btn-info">Login</button></a>
      <a href="/register"><button class="btn btn-success">Register</button></a>
      <% } %>
    </div>
  </nav>

<div class="jumbotron" align="center">
  <h1 class="display-4">TinyApp</h1>
  <p class="lead">A simple solution for shortening URLs.</p>
  <% if (userList[user]) { %>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/urls/new" role="button">New Short URL</a>
  </p>
  <% } %>
</div>
