<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
<body>
  <div class="jumbotron" align="center">
  <h1 class="display-4">TinyApp</h1>
  <p class="lead">A simple solution for shortening URLs.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/urls/new" role="button">Shorten URL</a>
  </p>
</div>
