<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/urls">tinyApp</a>
    <div style="display: inline-block">
    <% if (user) { %>
    <form class="form-inline"action="/logout" method="POST">
      <label style="margin-right: 12px"><%= user.email %></label>
      <input class="btn btn-info" type="submit" value="Logout">
    </form>
    <% } else { %>
      <label for="Login">Username:</label>
        <form style="display: inline-block" class="form-inline" action="/login" method="POST">
        <input id="username" type="text" name="username">
        <input class="btn btn-info" type="submit" value="Login">
      </form>
      <a href="/register"><button class="btn btn-info">Register</button></a>
      <% } %>
    </div>
  </nav>


<div class="jumbotron" align="center">
  <h1 class="display-4">TinyApp</h1>
  <p class="lead">A simple solution for shortening URLs.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/urls/new" role="button">Shorten URL</a>
  </p>



  </div>
