<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
<body>

  <div class="jumbotron" align="center">
    <h1 style="margin-bottom: 10px"class="display-4">Create Account</h1>
      <div class="container">
        <form action="/register" method="POST">
          <label style="padding-right: 5px;"for="email">Username:</label>
          <input id="email" type="email" name="email">
          <p>
          <label for="password" style="padding-right: 8px;">Password:</label>
          <input id="password" type="password" name="password">
          <p><input class="btn btn-info" type="submit" value="Create"></p>
        </form>
      </div>
  </div>

</body>
</html>




<!-- Task 2: Create a Registration Page
Create a GET /register endpoint, which returns a page that includes a form with an email and password field.

The email field should use type=email and have name=email. The password field should use type=password and have name=password.

The form that you just created needs to send its data somewhere.

Modify your registration form so that it POSTs to /register. -->
