

<div class="container">
  <form action="/register" method="POST">
    <label for="Login">Username:</label>
    <input id="username" type="text" name="username">
    <input class="btn btn-info" type="submit" value="Login">
  </form>
</div>




<!-- Task 2: Create a Registration Page
Create a GET /register endpoint, which returns a page that includes a form with an email and password field.

The email field should use type=email and have name=email. The password field should use type=password and have name=password.

The form that you just created needs to send its data somewhere.

Modify your registration form so that it POSTs to /register. -->
