<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tiny URL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css />
  <link rel="stylesheet" href="main.css" />
</head>
<body>

  <div class="jumbotron">Tiny URL Shortener</div>

  <table class="main-table">
    <tr>
      <td> URL 1 </td>
    </tr>
    <tr>
      <td> URL 2 </td>
    </tr>
    <tr>
      <td> URL 3 </td>
    </tr>
  </table>

</body>
</html>
