<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tiny URL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css />
</head>

<body>
  <div class="jumbotron"><h1>Tiny URL Shortener<h1></div>

  <h1 align="center"> SHORT URL: <%= shortURL[0] %></h1>
  <h1 align="center"> LONG URL: <%= shortURL[1] %></h1>

</body>
</html>
