<% include partials/header %>

  <div class="container" align="center">
    <h1 id="shortURL">Tiny: <a href="/u/<%= url.short %>"><%= url.short %></a></h1>
    <button type="button" class="btn btn-success" id="copyButton">Copy</button>
  </div>
  <h1 align="center"> Source: <a href="#"><%= url.long %></a></h1>

  <form action="/urls/<%= url.short %>/edit" method="POST" style="margin:150px;" align="center">
    <label for="changedURL">Enter a URL:</label>
    <input id="changedURL" type="text" name="changedURL" placeholder="Change long URL" style="width: 300px">
    <input type="submit" value="Update">
  </form>

<% include partials/footer %>
