<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css />
    <link rel="stylesheet" href="main.css" />
  </head>
<body>
  <div class="jumbotron"><h1>Tiny URL Shortener<h1></div>

  <div class="container">
    <table class="main-table">
      <% urls.forEach(function (array) { %>
        <tr>
          <td><%= array[0] %><td> <td><%= array[1] %></td>
            <td>
              <form action="/urls/<%= array[0] %>/delete" method="POST">
                <input type="submit" value="Delete">
              </form>
            </td>
        </tr>
      <% }) %>
    </table>
  </div>

</body>
</html>
