.url-table-items {
  padding-left: 40px;
  padding-right: 30px;
}

#index-delete-button {
  padding-bottom: 1px;
}

#shortURL {
  display: inline-block;
}

#copyButton {
  align: center;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 20px;
}
